body {
  background: url("minimal.jpg") no-repeat center fixed;
  background-size: cover;
  color: white;
  font-family: Comfortaa, monospace;
  font-size: 25px;
}

.cool {
  float: left;
  font-family: Comfortaa, monospace;
  font-weight: lighter;
  width: 220px;
  margin-right: -300px;
  margin-top: 15px;
  text-indent: 20px;

}

.hamburger {
  transition: 0.5s;
  background: transparent;
  color: white;
  width: 75px;
  height: 75px;
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
  float: right;
  margin-top: 5px;
  border: none;
}

.hamburger:hover {
  background: rgba(0, 0, 0, 0.48); 0.32);
  color: white;
  transition: 0.5s;
}

.personalL {
  background: rgba(169, 169, 169, 0.57);
  border-radius: 20px;
  width: 190px;
  border: solid;
  border-color: darkgray;
}

.font {
  font-size: 10px;
  font-style: italic;
  opacity: 0.58;
  color: darkgray;
  text-decoration: none;
  background: none;
}

p {
  font-weight: lighter;
}

.socials {
  margin-top: -10px;
  width: 500px;
  word-spacing: 20px;
  text-align: left;
  color: #818181;
  text-decoration: none;
  cursor: default;
}

.links {
  text-align: left;
  color: #818181;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  cursor: default;
  transition: 0.5s;
}

.links:hover {
  background: rgba(169, 169, 169, 0.32);
  color: black;
  color: #000000;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.aboutStuff {
  background: rgba(0, 0, 0, 0.48);
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
}
